div[class='language-'] {
  color: #d6deeb;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  background-color: var(--c-brand) !important;
}

pre > code {
  font-size: 1.05rem;
}

.token.selector, .token.important, .token.atrule, .token.keyword, .token.builtin {
  color: #54b5fc !important;
}

.token.boolean, .token.number, .token.function {
  color: #f3cb55;
}

.token.string, .token.char, .token.attr-value, .token.regex, .token.variable {
  color: #65fcd8;
}

.token.operator, .token.entity, .token.url {
  color: #2fe3b8;
}
.token.tag, .token.attr-name, .token.namespace, .token.deleted {
  color: #2fe3b8;
}

.token.tag {
  color: #f8f544 !important;
}

.token .comment {
  color: #c6c5c5
}
