div[class='language-'] {
  color: #d6deeb;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  background-color: var(--c-brand) !important;
}

pre > code {
  font-size: 1rem;
  color: var(--c-brand) !important;
}

.token.selector, .token.important, .token.atrule, .token.keyword, .token.builtin {
  color: var(--c-brand-light) !important;
}

.token.boolean, .token.number, .token.function {
  color: #0e4ec7;
}

.token.string, .token.char, .token.attr-value, .token.regex, .token.variable {
  color: #a22bb4;
}

.token.operator, .token.entity, .token.url {
  color: #276dc4;
}
.token.tag, .token.namespace, .token.deleted {
  color: #2fe3b8;
}

.token.attr-name {
  color: var(--c-brand) !important;
}

.token.tag {
  color: #a22bb4 !important;
}

.token .comment {
  color: #afaeae
}

.token.punctuation {
  color: #0e4ec7;
}

.token.constant {
  color: var(--c-brand)
}

.token.literal-property.property {
  color: var(--c-brand)
}

.highlight-line {
  background-color: #e5f8ff !important;
  margin-top: -6px !important;
}
